@charset "UTF-8";

/* ----------------------------------------------------------------------
スマホ用グローバルナビ
---------------------------------------------------------------------- */

@media screen and (max-width: 812px) {
	.m-drawer {
		margin: 0;
		position: relative;
	}
	.drawer-navi {
		position: fixed;
		top: 0;
		left: 0;
		background: #fff;
		width: 100%;
		z-index: 200;
	}
	.drawer-navi .drawer-hamburger {
		position: fixed;
		top: 20px;
		right: 40px;
		display: block;
		width: 50px;
		height: 50px;
		padding: 0;
		border: 0;
		outline: 0;
		cursor: pointer;
		box-sizing: content-box;
		-webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
		transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		z-index: 300;
	}
	.drawer-navi .drawer-hamburger:hover {
		cursor: pointer;
	}
	.drawer-navi .drawer-hamburger-icon {
		position: relative;
		display: block;
	}
	.drawer-navi .drawer-hamburger-icon,
	.drawer-navi .drawer-hamburger-icon:before,
	.drawer-navi .drawer-hamburger-icon:after {
		width: 100%;
		height: 3px;
		-webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
		transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
		background-color: #626262;
	}
	.drawer-navi .c-wht .drawer-hamburger-icon,
	.drawer-navi .c-wht .drawer-hamburger-icon:before,
	.drawer-navi .c-wht .drawer-hamburger-icon:after {
		background-color: #000;
	}
	.drawer-navi .drawer-hamburger-icon:before,
	.drawer-navi .drawer-hamburger-icon:after {
		position: absolute;
		top: -15px;
		left: 0;
		content: ' ';
	}
	.drawer-navi .drawer-hamburger-icon:after {
		top: 15px;
	}
	.drawer-navi.drawer-open .drawer-hamburger-icon {
		background-color: transparent;
	}
	.drawer-navi.drawer-open .drawer-hamburger-icon:before,
	.drawer-navi.drawer-open .drawer-hamburger-icon:after {
		top: 0;
		background-color: #000;
	}
	.drawer-navi.drawer-open .drawer-hamburger-icon:before {
		-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
						transform: rotate(45deg);
	}
	.drawer-navi.drawer-open .drawer-hamburger-icon:after {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.drawer-navi .drawer-hamburger {
		top: 2vw;
		right: 3vw;
		width: 8vw;
		height: 8vw;
	}
	.drawer-navi .drawer-hamburger-icon,
	.drawer-navi .drawer-hamburger-icon:before,
	.drawer-navi .drawer-hamburger-icon:after {
		height: 3px;
	}
	.drawer-navi .drawer-hamburger-icon:before,
	.drawer-navi .drawer-hamburger-icon:after {
		top: -2vw;
	}
	.drawer-navi .drawer-hamburger-icon:after {
		top: 2vw;
	}
	.drawer-navi.drawer-open .drawer-hamburger {
		right: 3vw;
	}

	.drawer-navi button {
		background: 000;
	}


	/* オープン時　表示 
	----------------------------------------------------------------------------- */
	.m-drawer .drawer-list {
		display: none;
		position: absolute;
		z-index:200;
		width: 100%;
		background: #eeede8;
		text-align: center;
		padding: 0 0 80px;
		height: 100vh;
	}
	.drawer_head {
		background: #fff;
		padding: 10px 4%;
		text-align: left;
	}
	.drawer_head_logo {
		width: 50%;
	}
	ul#sp-header-navigation {
		padding: 50px 0 30px;
	}
	ul#sp-header-navigation li {
		font-size: 16px;
		line-height: 3;
		text-align: center;
	}
	ul.sns_list {
		font-size: 0;
		padding: 0;
	}
	ul.sns_list li {
		display: inline-block;
		margin: 0 30px;
		width: 50px;
	}
	ul.sns_list li img {
		width: 100%;
	}
}

